body {
/*	background: rgb(214,229,100);
	background-color: rgb(214,229,100);*/
	background: #FEFF99;
}

.container-fluid {
  /*background: rgb(214,229,100);*/
  background: #FEFF99;
  margin: 0;
  padding: 0;
  height: 750px;
}

.boardContainer {
	margin-left: 0 auto;
	margin-right: 0 auto;
	/*padding-top: 50px;*/
	/*background: rgb(214, 229, 100);*/
	background: #FEFF99;
}

#noticeBoard {
	margin: 0 auto;
	margin-top: -10px;
  animation-delay: 0s;
	animation-duration: 2s;
	-ms-animation-delay: 3s;
	-ms-animation-duration: 2s;
	-moz-animation-delay: 3s;
	-moz-animation-duration: 2s;
	-webkit-animation-delay: 3s;
	-webkit-animation-duration: 2s;
	-khtml-animation-delay: 3s;
	-khtml-animation-duration: 2s;
	width: 800px;
}

.parallax {
	width: 100%;
	position: fixed;
	top: 0;
	margin: 0 auto;
	display: none;
}

.minimize {
	height: 0;
	width: 0;
	display: none;
}

.center {
	margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.dogpadMessage {
	font-size: 300%;
}

.btnTellMeMore {
	margin-top: 30px;
}

.moreContent {
	width: 100%;
	position: fixed;
	top: 0px;
	margin: 0 auto;
}

.signupArticle {
	font-size: 60%;
	font-weight: normal;
	font-style: normal;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	width: 80%;
	margin: 0 auto;
}

h1.moreTitle {
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 300%;
}

.form {
	width: 80%;
	margin: 50px;
}
	
.moreContent article {
	padding-top: 40px;	
}

.thanks {
	padding-top: 60px;
}

.thanksContent {
	padding: 20px;
	text-align: center;;
}

.hidden {
	visibility: none;
}