<template name='home'>
	<div class='boardContainer'>
    <div class='title'>
      <h1>Log a Dog</h1>
    </div>
		<img src='teaser.png' class='animated hinge img-responsive' id='noticeBoard' alt='dogpad-noticeboard'/>
	</div>

 <div class="parallax">
  <div id="group1" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">
        <h2>So you have a dog or two?</h2> 
        <p>Or three or four?</p></div>
    </div>
  </div>
  <div id="group2" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <h2 class="title">      			
    	Then you've noticed that there are quite a few things to keep track of.</h2>
    </div>
    <div class="parallax__layer parallax__layer--back">  
      <div class="title">
      </div>
    </div>
  </div>
  <div id="group3" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      <div class="title">
      	<p>Vaccination card</p>
      	<p>Photos</p>
      	<p>Insurance papers</p>
     		<p>Vet apointments</p>
      	<p>Ticks</p>
      	<p>Fleas</p>
      	<p>Friends</p>
      	<p>Meet ups</p>
      </div>	
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">
      	<p>Passport</p>
      	<p>Classes</p>
      	<p>Competitions</p>
      	<p>Baths</p>
      	<p>Good walks</p>
      	<p>Dog shows</p>
      </div>
    </div>
  </div>
  <div id="group4" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <h2 class="title">
        So, What Do You Do?    
      </h2>
    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="title">   
      </div>
    </div>
    <div class="parallax__layer parallax__layer--deep">
      <div class="title">
      </div>
    </div>
  </div>

  <div id="group5" class="parallax__group">
    <div class="parallax__layer parallax__base">
      <div class="title">
      	<p class='dogpadMessage'>
      		Start using <br/>
          <h2>Log a Dog!</h2>
      	</p>
      </div>
    </div>
  </div>
 
  <div id="group6" class="parallax__group">
    <div id='#signup' class="parallax__layer parallax__base">
      {{>signup}}
    </div>
  </div>
 
 </div> <!-- Parallax -->



 <script type="text/javascript">
	$('#noticeBoard').addClass('animated hinge');

	$('#noticeBoard').one('webKitAnimationEnd MSAnimationEnd oanimationend animationend', function(){
		console.log('Animation end');
		$('.parallax').fadeToggle(1000);
    $('h1').fadeToggle(2000);
		$('#noticeBoard').addClass('.minimize');
    $('h1').addClass('.minimize');
	});
 </script>
</template>