<head>
	<title>Log a Dog | Keep track of your dog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name='description' content='The web site you need to keep track of everything concerning you dog and your dog owning friends.'>
	<meta name='keywords' content='dogs, dog facts, dog insurances, dog food, ticks, veterinary, vaccinations,'>
	<meta name='author' content='Henrik Fogelberg'>
	<meta name='robots' content='all'>
	<!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,100italic,700,900' rel='stylesheet' type='text/css'> -->
</head>

<template name='layout'>
  <div class='container-fluid'>
		{{> yield}}
	</div>
</template>

