<head>
	<title>Log a Dog | Everything concerning your dog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name='description' content='Log a Dog! The web site you need to keep track of everything concerning you dog and your dog owning friends.'>
	<meta name='keywords' content='dogs, dog insurances, dog food, ticks, veterinary, vaccinations, dog owner, find other dog owners, find other dogs, log a dog, dog facts'>
	<meta name='author' content='Henrik Fogelberg'>
	<meta name='robots' content='all'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100italic,700,900' rel='stylesheet' type='text/css'>
</head>

<template name='layout'>
  <div class='container-fluid'>
		{{> yield}}
	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-69789215-1', 'auto');
	  ga('send', 'pageview');

	</script>
</template>

