<template name='thanks'>
	<article class='thanks'>
		<h1 class='moreTitle'>Thanks!</h1>
		<div class='thanksContent'>
			<p>
				We'll get back to you as soon as we've got something to show or tell you.
			</p>
			<p>
				Any questions? 
				Then email us: <a href = "mailto:henrikATlogaDOTdog" 
			   										onclick = "this.href=this.href
			              				.replace(/AT/,'&#64;')
			              				.replace(/DOT/,'&#46;')">
			  	<span class="e-mail" data-user="ofni" data-website="god.agol"></span></a>.
			</p>

			<div class='social'>
				Or contact os on <span><a href='https://twitter.com/logadog' class="btn btn-block btn-social btn-twitter" target='_blank'>
    			<i class="fa fa-twitter"></i> Twitter
  			</a></span>
			</div>

			<div class='bye'>
				The Dogpad crew
			</div>

		</div>  <!-- thanksContent -->
	</article>
</template>